<div class="hero">
  <div class="type--wrapper">
    <img class="type--art" src="/img/mm-type.svg" />
  </div>
  <img class="hero--img" src="/img/hero--img.png" />
</div>

<div class="promo">
  <div class="promo--img-wrapper">
    <img class="promo--img" src="/img/gold-cover.jpg" />
  </div>
  <div class="promo--info">
    <span class="promo--helper-text">New Album</span>
    <h2 class="promo--header">Gold</h2>
    <p class="promo--copy">Recorded at Popside Recording in Troy, Ohio, 2016</p>
  </div>
</div>